@import './base.css';

#app {
  /* max-width: 1280px; */
  max-width: 2560px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: var(--color-blue);
  transition: 0.4s;
  padding: 3px;
}

.button {
  align-items: center;
  /* height: 48px; */
  border-radius: 5%;
  font-weight: 600;
  padding: 0.3em;
  color: var(--color-text);
  border: none;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
  background: var(--color-border);

  font-size: inherit;
}

button:hover {
  background: var(--color-border-hover);
}

hr {
  margin-block: 1rem;
}

input, select, textarea {
  font-size: 1em;
  padding: 0.2em;
  color: currentColor;
  background: #2d2d2d;
  border: 1px solid rgb(63, 63, 63);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  
}
